---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";

const entry = await getEntry("blog", "a-deep-dive-into-git");

if (!entry) {
  throw new Error("Entry not found");
}

const { Content } = await render(entry);
const formattedDate = entry.data.pubDate
  ? new Date(entry.data.pubDate).toLocaleString("en-US", { month: "short", day: "numeric", year: "numeric" })
  : undefined;
---

<BaseLayout>
  <!-- post -->
  <article class="min-w-full prose prose-lg py-10">
    <header class="">
      <h1 class="mb-0">{entry.data.title}</h1>
      <div class="mt-4 flex items-center gap-4 font-mono tracking-tight text-neutral-600 text-sm">
        {
          formattedDate ? (
            <time datetime={new Date(entry.data.pubDate).toISOString()} class="text-nowrap ">
              {formattedDate}
            </time>
          ) : null
        }

        {
          entry.data.tags ? (
            <div class="flex flex-wrap gap-2">
              {entry.data.tags.map((tag) => (
                <span class="px-2">#{tag}</span>
              ))}
            </div>
          ) : null
        }
      </div>

      {
        entry.data.heroImage ? (
          <figure class="">
            <Image src={entry.data.heroImage} alt={entry.data.title} class="w-full rounded aspect-4/3 object-cover" />
          </figure>
        ) : null
      }
    </header>

    <Content />
  </article>

  <!-- post end -->
</BaseLayout>
